
<h1>Welcome to the ISS+S</h1>
<h3>International Space Station Search</h3>
<br>
<p>
	Here You can find out where the ISS is located pinned on a map... It's that easy!
</p>
<button id="iss">Find Now!</button>
<table>
	<tr>
		<td>Name: </td>
		<td>{{this.name}}</td>
	</tr>
	<tr>
		<td>ID: </td>
		<td>{{this.id}}</td>
	</tr>
	<tr>
		<td>Velocity: </td>
		<td>{{this.velocity}}</td>
	</tr>
	<tr>
		<td>Altitude: </td>
		<td>{{this.altitude}}</td>
	</tr>
	<tr>
		<td>Altitude: </td>
		<td>{{this.altitude}}</td>
	</tr>
	<tr>
		<td>Longitude: </td>
		<td>{{this.longitude}}</td>
	</tr>
	<tr>
		<td>Latitude: </td>
		<td>{{this.latitude}}</td>
	</tr>
</table>

<div id="googleMap"></div>

